/*
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
 @font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
html, body, div, span, applet, object, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background: rgba(231, 231, 231, 0.43);
  line-height: 1.125em;
  color: white;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family:'Lato', Helvetica, Arial, Tahoma;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
ol, ul {
  padding: 0 10px;
  margin: 0 10px;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-family:'Lato', Georgia, Helvetica, Tahoma;
  margin: 10px 0;
  font-weight: normal;
}
h1 {
  font-size: 1.875em;
}
h2 {
  font-size: 1.6em;
  line-height: 1em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  opacity: 0.9;
}
a:visited {
  color: white;
}
h2 {
  cursor: pointer;
}
code, pre {
  font-family: Monaco, Menlo, Consolas;
  font-size: 1em;
  color: #FFFFDE;
  padding: 0 3px 2px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.free-wall {
  margin: auto;
}
.free-wall-logo {
  margin: auto;
  height: 420px;
}
.size2-2 {
  width: 80px;
  height: 80px;
}
.size11 {
  height: 160px;
  width: 160px;
}
.size12 {
  width: 160px;
  height: 320px;
}
.size21 {
  width: 320px;
  height: 160px;
}
.size22 {
  height: 320px;
  width: 320px;
}
.size13 {
  width: 160px;
  height: 480px;
}
.size31 {
  width: 480px;
  height: 160px;
}
.size23 {
  width: 320px;
  height: 480px;
}
.size24 {
  width: 320px;
  height: 640px;
}
.size32 {
  width: 480px;
  height: 320px;
}
.size33 {
  width: 480px;
  height: 480px;
}
.size34 {
  width: 480px;
  height: 640px;
}
.size43 {
  width: 640px;
  height: 480px;
}
.size35 {
  width: 480px;
  height: 800px;
}
.size53 {
  width: 800px;
  height: 480px;
}
.size36 {
  width: 480px;
  height: 960px;
}
.img-demo {
  vertical-align: bottom;
  list-style: none;
  margin:0;
  padding: 0;
}
.img-demo li {
  float: left;
  width: 25%;
  text-align: center;
}
.img-demo li img {
  border: 2px solid white;
  width: 98px;
  height: 98px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.rest-left {
  margin-left: 244px;
}
.desc h1, .desc h2, .desc h3, .desc h4, .desc h5, .desc h6 {
  font-weight: bold;
}
.desc h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.desc h2 span {
  float: left;
  display: block;
  line-height: 50px;
}
.brick {
  background-color: white;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.brick .cover {
  overflow: hidden;
  margin: 20px;
}
.brick .read-more {
  position: absolute;
  display: none;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 12px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.45);
}
.brick:hover .read-more {
  display: block;
  cursor: pointer;
}
.brick .desc {
  display: none;
}
.full-width .float-left {
  display: none;
}
.full-width .desc {
  display: block;
}
.full-width.brick {
  box-shadow: none;
  overflow: visible;
  border: none !important;
  background: none !important;
}
.full-width.brick .cover {
  margin: 0px 20px;
  color: #333;
}
.full-width.brick .cover * {
  text-shadow: none;
}
.full-width.brick .cover code {
  color: #666;
}
.open .float-left {
  display: none;
}
.open .desc {
  display: block;
}
.example {
  width: 0;
  height: 0;
  overflow: visible !important;
  /* for ie7 */
}
.cell {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #222;
}
.layout {
  margin: 2em 15px;
  color: #333;
}
.size320 {
  width: 320px;
  height: 320px;
}
.size44 {
  width: 100%;
  height: 100%;
}
.size22 {
  width: 50%;
  height: 50%;
}
.size14 {
  width: 25%;
  height: 100%;
}
.size41 {
  width: 100%;
  height: 25%;
}
.size24 {
  width: 50%;
  height: 100%;
}
.size42 {
  width: 100%;
  height: 50%;
}
/*==========  Panel Items  ==========*/
 .furgg-main > section .furgg-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
.furgg-icon-close:before {
  content:'\e005';
}
.furgg-content, div.furgg-panel-items > div > div {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
}
div.furgg-panel-items, div.furgg-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
div.furgg-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}
div.furgg-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px;
}
div.furgg-panel-items > div > div p {
  font-size: 1.3em;
}
div.furgg-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}
div.furgg-panel-items {
  top: 100%;
  z-index: 9999;
}
div.furgg-panel-items > div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
  -ms-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -o-transform: translateY(0);
  -o-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
}
/*==========  Nav Display  ==========*/
 div.furgg-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  -ms-transition: opacity 0.2s ease-in-out 0.5s;
  -o-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}
div.furgg-panel-items.furgg-panel-items-show nav span {
  float: left;
  margin: 5px;
}
div.furgg-panel-items nav span.furgg-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}
div.furgg-panel-items.furgg-panel-items-show nav {
  opacity: 1;
  top: -70px;
}
/*==========  End Nav  ==========*/
 div.furgg-panel-items > div.furgg-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
  -ms-transition: -webkit-transform 0.5s ease-in-out;
  -o-transform: translateY(-100%);
  -o-transition: -webkit-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}
div.furgg-panel-items > div.furgg-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  -ms-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transform: translateY(-100%) scale(0.5);
  -o-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  z-index: 0;
}
.furgg-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.furgg-main > section.furgg-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.furgg-main > section.furgg-expand-top {
  z-index: 100;
}
.furgg-main > section:first-child.furgg-expand {
  background: #EE4444;
}
.furgg-main > section:nth-child(2).furgg-expand {
  background: #F98262;
}
.furgg-main.furgg-expand-item > section:not(.furgg-expand), .furgg-main.furgg-expand-item > section.furgg-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.furgg-content, .furgg-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  -ms-transition: opacity 0.1s linear 0s;
  -o-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}
section.furgg-expand .furgg-content, section.furgg-expand .furgg-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  -ms-transition: opacity 0.3s linear 0.5s;
  -o-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}
.brick {
  cursor: pointer;
}
